<h3><%= current_user.name.capitalize %>'s Shopping Cart </h3>
<ul>
  <% @order_items.each do |oi| %>
    <li id="<%= oi.id %>"><strong><%= link_to oi.book_title, book_path(oi.book.id) %></li>
  <% end %>
</ul>

<h3><%= link_to  "Home", root_path %></h3>
