<strong><h2>Enjoy browsing our large selection of books before making a purchase.</h2></strong>
<a href= "http://localhost:3000/about">
  <img src="http://u.profitroom.pl/hotel-zubrowka.pl/uploads/thumbs/1600x900/201311081336390.baner_las_80proc.jpg?1532476800026" width="1300" height="408" >
</a>
<ul>
  <h2> All Books </h2>
  <% @books.each do |book| %>
    <%= link_to image_tag("https://www.ioba.org/pages/wp-content/uploads/2011/12/alledgesgilt.jpg"), book_path(book) %>
    <p>Title: <%= link_to book.title, book_path(book) %><br> Author: <%= link_to book.author.name, author_path(book.author) %></p>
  <% end %>
</ul>

<%= link_to "Back to Top", root_path %>
